html,
* {
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  margin: 0px;
  padding: 0px;
}

.app {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.duration-wrapper {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  padding: 12px;
}
